
{% extends "base.html" %}
{% load i18n %}


{% block content %}
    {% load static %}
    <script>
        var pk = '{{ pk }}'
        var csrf = '{{ csrf_token }}'
    </script>
    <script src="{% static '/js/generate_data.js' %}"></script>

    
    <div class="pull-right" style="margin: 10px;"><button onclick="generate_data()" class="btn btn-primary">Generate data</button></div>
    <div class="pull-right" style="margin: 10px;"><input id="rows_number" type="number" placeholder="Number of rows:" class="form-control"></div>
    <h3 class="h3">Data sets</h3>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Created</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="data">
            {% for data_set in saved_data_sets %}
                <td>{{ data_set.date }}</td> 
                <td id="processing_{{ data_set.file_id }}"><div class="loader pull-right"></div><span style="color: rgb(115, 115, 117);">processing...</span></td>
                <td><a id="{{ data_set.file_id }}" class="not_ready" style="text-decoration: none; color: grey; cursor: default;">Download</a></td></tr>
                <script>
                    setInterval(wait_for_file_ready, 2000, '{{ data_set.file_id }}')
                </script>
            {% endfor %}
        </tbody>
    </table>
{% endblock %} 